.header {
    background-color: #0a131a;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ae27fd;
}

.nav-bar {
    display: flex;
    margin-left: 20px;
    gap: 20px;
}

.link {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 20px;
    padding: 10px;
    font-size: 16px;
}

.link:hover {
    color: #8019fe;
    text-decoration: none;
}

@media (max-width: 550px) {
    .link {
        font-size: 14px;
    }
}