.stopwatch-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.stopwatch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}

.stopwatch {
    color: #faf0e7;
    font-size: 45px;
    border-bottom: 4px solid #8019fe;
    padding: 20px;
}

.btns-container {
    display: flex;
    gap: 10px;
}

.start-stop-btn {
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #8019fe;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;

}

.start-stop-btn:hover {
    background-color: #131b28;
}

.span {
    color: #faf0e7;
    font-size: 30px;
}

.start-true {
    display: none;
}

.start-false {
    display: flex;
}

.stop-true {
    display: flex;
}

.stop-false {
    display: none;
}

.reset-btn {
    width: 80px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #8019fe;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.reset-btn:hover {
    background-color: #131b28;
}

@media (max-width: 550px) {

    .stopwatch {
        font-size: 30px;
    }

    .span {
        font-size: 20px;
    }

}